@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');;

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Mukta, sans-serif; 
    font-weight: 300;
    color: #3a3a3a;
    background-color: white; }

    
/*headings and logo */ 
h1, h2{
    font-family: Mukta, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo{
    float:left;
    font-size: 280%;
    margin-left: 30px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo{
        line-height: 75px;
    }
    

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}
#main-image-outer{
    height:600px;
    width: 100%;
    overflow: hidden;

}
#main-image{
    height:600px;
    width: 100%;
    background: url("../images/clean-and-tidy-living-room.jpg") no-repeat center center;
}

#caring{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#working-with-us{
    height: 600px;
}

#left-about{
    padding-top: 40px;
    width: 33%;
    float: left;
    
}

    
#right-about{
    padding-top: 40px;
    width: 33%;
    float: right;
    
}

#center-about{
    width: 33%;
    margin: 0 auto;
  }

hr{
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}   

.left-about-heading {
    width: 60%;
    float: right;
    line-height:20px;
    clear: both;
    margin-bottom:50px;
}    

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}    

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#why-us {
    text-align: center;
    margin: 120px 0;
    font-size: 260%;
}


#circle-container {
    width: 400px;
    height: 400px;
    padding: 60px;
    border-style: solid;
    border-color:transparent ;
    border-width: 1px;
    border-radius: 50%;
    margin: 10%;
    
    
}

#circle-cover-bg{
    background: url("/assets/images/Clean-Home.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
   
   
}
#services{
    padding-top: 200px;
    height: 600px;

}
#services-sandra {
    padding-top: 50px;
    text-align: center;
    margin: 40px 0;
    font-size: 220%;}


#cleaning-box {
        background-color: brown;
        position: relative;
        left: 70px;
        top: -15px;
    }


#cleaning{
    padding-top: 50px; 
    height: 100%;
}


#organization-box {
	background-color: #6f4e37;
	position: relative;
}
#organization{
    padding-top: 50px; 
}


#ironing-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}
#ironing{
    padding-top: 50px; 
}

#windows-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;}


#windows{
        padding-top: 50px;}


footer {
            background-color:black;
            padding: 1em;
            text-align: center;
            width: 100%;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 3;
        }
        
footer > span {
            color: silver;
        }
        
footer > a {
            color: beige;
            text-decoration: none;
            padding: 0 15px;
            font-size: 0.8rem;
        }
        
footer > p {
            color: silver;
        }

#photos{
            clear: both;
            line-height: 0;
            column-count:1 ;  
            column-gap: 0;   
        }

        @media screen and (max-width:1200px){
            #working-with-us {
             width: 65%;
             height: 1200px;
             margin: 0 auto;
            }
        
            #why-us{
                padding: 30px 0;
                margin: 0;
            }
            
        
            #left-about, #right-about{
                width: 100%;
                float: left;
                padding: 0;
            }
        
            #center-about{
                clear: both;
                width: 100%;
                float: left;
                padding: 0;
            }
        
            hr{
                display: none;
            }
        }

        @media screen and (max-width:900px){
            #menu{
                clear: left;
                float: left;
                margin-left: 30px;
                margin-bottom: 20px;
                line-height: 25px;
            }
        }